html, body {
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  font: 16px/1.2 "Roboto", sans-serif;
  overflow-x: hidden;
}
.app-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  position: relative;
  flex: 1;
  padding: 20px 10px;
  @media (min-width: 769px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
