html, body, div, span, applet, object, iframe, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
span,
img,
video,
button {
  display: inline-flex;
}
button {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background: none;
  border: none;
  padding: 0;
}
img, video {
  max-width: 100%;
}
video {
  width: 100%;
}
a {
  text-decoration: none;
  transition: .3s;
}
